/node_modules
buildAllProjects.sh
*.log
/tmp
/src
/.gitignore
/.npmignore
/dist/spec
/tsconfig.json
/declarations.d.ts
*.tgz
test
.nyc_output
coverage
test-browser-outdir
dist/test
dist/test-browser
test
.cache
.travis.yml
ava.config.js
nyc.config.js
TODO.md
ts-ast
.vscode
test-browser
.travis.yml
.DS_Store
/tmp*
docs
.cache
scripts
docs
.github
assets
jest.config.js
tests